/* General Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    margin-top: 140px;

}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    gap: 250px;
}

.about-image_continer {
    flex: 2;
    text-align: center;
}

.about-image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    animation: scaleUp 2s ease-in-out infinite alternate
}
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.about-text {
    flex: 2;
    padding-left: 20px;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0;
    margin-bottom: 10px;
    animation: fadeIn 1s forwards 1s; /* Animation for title */
}

.about-role {
    font-size: 2rem;
    font-size: 45px;
    color: #f39c12;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30) infinite, blink 0.75s step-end infinite;
    position: relative;
}

@keyframes typing {
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: orange;
    }
}

.typing-symbol {
    display: inline-block;
    animation: typingCursor 0.8s infinite step-end;
}

.about-description {
    font-size: 1.2rem;
    color: #666;
    opacity: 0;
    margin-top: 25px;
    margin-bottom: 30px;
    animation: fadeIn 1s forwards 1.2s; /* Animation for paragraph */
}

.contact-button {
    background: linear-gradient(90deg, black 50%, orange 50%);
    background-size: 200%;
    background-position: right;
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 200px;
    transition: background-position 0.5s ease, transform 0.3s ease;
    animation: fadeIn 3s ease forwards;
}

.contact-button:hover {
    background-position: left;
    transform: scale(1.05);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typingCursor {
    50% {
        border-right: 2px solid transparent;
    }
    100% {
        border-right: 2px solid orange;
    }
}
.language-icon {
    margin-left: 8px; /* Add spacing between the text and the icon */
    color: orange; /* Icon color */
    font-size: 30px; /* Icon size */
    vertical-align: middle; /* Align icon with text */
  }